@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    /* Pure Black */
    --background: 0 0% 0%;
    /* Baltic Blue 50: #ecf3f9 */
    --foreground: 207 42% 95%;

    /* Baltic Blue 900: #0c1b27 */
    --card: 207 53% 10%;
    --card-foreground: 207 42% 95%;

    --popover: 207 53% 10%;
    --popover-foreground: 207 42% 95%;

    /* Cerulean 500: #428ebd */
    --primary: 203 48% 50%;
    --primary-foreground: 207 42% 95%;

    /* Baltic Blue 800: #19364d */
    --secondary: 207 51% 20%;
    --secondary-foreground: 207 42% 95%;

    --muted: 207 51% 20%;
    /* Baltic Blue 300: #8bb8da */
    --muted-foreground: 206 51% 70%;

    /* Yale Blue 500: #3294cd */
    --accent: 202 61% 50%;
    --accent-foreground: 207 42% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 207 51% 20%;
    --input: 207 51% 20%;
    
    /* Cerulean 400: #68a4ca */
    --ring: 203 48% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
